@media (max-width: 1000px) {
    .header__title {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .header__text {
        font-size: 27px;
        margin-bottom: 52px;
    }
    .nav__list {
        column-gap: 60px;
    }
}

@media (max-width: 600px) {
    .header {
        background-image: url('./../img/header/header-bg.jpg') center center/cover no-repeat;
    }
    .nav__list {
        display: none;
    }
    .nav__logo {
        margin-left: 10px;
        max-width: 110px;
    }
    .nav__btn {
        display: block;
    }
    .header__content {
        display: none;
    }
    .header__content-mobile {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 26px;
    }
    .header__logo-mobile {
        width: 244px;
    }
    .header__content-mobile-text {
        max-width: 238px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.06em;
        color: rgba(31, 31, 31, 0.7);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .header__arrows {
        width: 30px;
        bottom: 32px;
    }
}