@import "./reset.css";
@import './fonts/Gilroy/stylesheet.css';

/* font-family: 'Gilroy', sans-serif; */

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}


/* ***********BNTs*********** */

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 24px;
    padding-right: 72px;
    font-weight: 800;
    color: #114455;
    font-size: 20px;
    border: 1px solid #114455;
    border-radius: 2px;
    transition: color 0.15s ease, background-color 0.15s ease-in;
}

.btn::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('./../img/icons/arrow-right-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.btn:hover {
    background-color: #114455;
    color: #e1edf2;
}

.btn:active {
    top: 1px;
}

.btn:hover::after {
    background-image: url('./../img/icons/arrow-right-white.svg');
}

.btn--big {
    /*     padding: 14px 32px; */
    padding: 10px 24px;
    padding-right: 80px;
}

.btn--dark {
    background-color: #114455;
    color: #e1edf2;
}

.btn--dark:hover {
    background-color: transparent;
    color: #114455;
}

.btn--dark:hover::after {
    background-image: url('./../img/icons/arrow-right-black.svg');
}

.btn--dark::after {
    content: "";
    position: absolute;
    background-image: url('./../img/icons/arrow-right-white.svg');
    background-repeat: no-repeat;
    background-position: center;
}


/* ***********BNTs*********** */

.header {
    min-height: 100vh;
    background-color: #e1edf2;
    background-image: url('./../img/header/header-bg.jpg');
    background-size: cover;
    background-position: center;
}

.header__top {
    padding: 44px 0;
    margin-bottom: 126px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 118px;
}

.link {
    color: #114455;
    font-size: 20px;
    font-weight: 800;
}

.header__content {
    max-width: 1060px;
}

.header__title {
    max-width: 734px;
    color: #114455;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 48px;
}

.header__text {
    color: #1F1F1F;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-size: 34px;
    opacity: 0.7;
    margin-bottom: 72px;
}

.header__text p+p {
    margin-top: 1em;
}